.header {
  display: flex;
  height: 105px;
  margin: -10px;
  color: white;
  background-color: white;
  align-items: center;
  position: fixed;
  top: 0;
  left: 10px;
  right: 0;
  z-index: 1000;
  width: 100%;
}
:where(.css-dev-only-do-not-override-k7429z).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected::after{
  border-bottom-color: #00000000;
}
:where(.css-dev-only-do-not-override-k7429z).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected{
  color: #ffffff00;
}
:where(.css-dev-only-do-not-override-k7429z).ant-menu-horizontal .ant-menu-item{
  transition:none;
}
.menuStyle .ant-menu-item:hover {
  position: relative;
}

.menuStyle .ant-menu-item:hover::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 7px;
  width: 80%;
  height: 2px;
  color: #ffffff00;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.menuStyle .ant-menu-item:hover::before {
  transform: scaleX(1);
}

.menuStyle .ant-menu-item::before {
  content: "";
  position: absolute;
  bottom: -2px;
    left: 7px;
  width: 80%;
  height: 2px;
  background-color: black;
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}
.menuStyle .ant-menu-item:not(:hover)::before {
  transform: scaleX(0);
}
.ant-menu-item:hover::after{
  border-bottom: 2px solid #649e3800 !important;
}
.ant-menu-item:hover{
    border-bottom: 2px solid #00000000 !important;
  }
  
  .test::after {
    top:100px
  }

  .submenu{
    direction: rtl !important;
    background-color: white;
    border-bottom-color:#00000000;
  }
  :where(.css-dev-only-do-not-override-k7429z).ant-menu-light.ant-menu-horizontal >.ant-menu-submenu:hover::after{
    border-bottom-color:#00000000;
  }
  :where(.css-dev-only-do-not-override-k7429z).ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-selected:hover::after{
    border-bottom-color:#00000000;
  }