.login-container {
  width: 50%;
  height: 850px;
}

.login-form-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 40%;
  background-color: white;
}
.login-form {
  padding: 20px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-form-button {
  font-family: Poppins, sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  width: 100%;
  justify-content: center;
  background-color: #13603C;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 3% 10%;
  border-radius: 50px;
  transition: .4s all ease-in-out;
}

.login-form-button:hover {
  text-decoration: none;
  background-color: black;
}

.bodyBackground {
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #2e3438 0%, black 25%, #13603C 51%, #b35839 100%);
  -webkit-animation: AnimateBG 7.5s ease infinite;
          animation: AnimateBG 7.5s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

:where(.css-dev-only-do-not-override-k7429z).ant-input-affix-wrapper-status-success:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper {
  border-color: #21c700 !important;
}
:where(.css-dev-only-do-not-override-k7429z).ant-input-affix-wrapper-status-success:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper .ant-input-prefix, :where(.css-dev-only-do-not-override-k7429z).ant-input-affix-wrapper-status-success:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper .ant-input-suffix {
    color: #21c700 !important;
}

.pezzoInserimentoEmail{
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 5%;

}

.received{
  font-family: Poppins, sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  border-color: grey;
}

.inserEmail{
  border-radius: 20px;
  padding: 5% 10%;
  width: 150%;
  right: 30%;
}

.submit{
  margin: 0 0 0 2.5%;
  border-radius: 50px;
  border: none;
  font-family: Poppins, sans-serif;
  letter-spacing: 1px;
  font-size: 12.5px;
  padding: 2% 10%;
  justify-content: center;
  background-color: #13603C;
  color: white;
  transition: .5s ease-in-out;
}

.submit:hover{
  background-color: #b35839;
  cursor: pointer;
}
img > #path1 .svg-elem-2{
  fill: #ff0000;
}

.insideVerification{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.descrizioneVerifica{
  font-family: Poppins, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color: black;
}